@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Sen&display=swap');

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-color: #ebebed;
  text-align: center;
}
.heading {
  font-size: 7rem;
  margin: 5rem;
  font-family: 'Fredoka One', cursive;
  color: #2f3849;
}
#mainBtn {
  font-size: 3rem;
  border-radius: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding: 1rem 2rem 1rem 2rem;
  font-family: 'Sen', sans-serif;
}
.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.mealContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.meal {
  background-color: #c08aa2;
  width: 35rem;
  height:50rem;
  border-radius: 35px;
}
.name {
  padding-top: 4rem;
  font-size: 3rem;
  color: #2f3849;
}
img {
  margin-top: 2rem;
  width: 25rem;
  height: 20rem;
  border-radius: 20px;
}
p {
  font-size: 2rem;
}